header {
  background-color: #FBBA72;
}

body {
  background-color: #CA5310;
}




/*nav {
  text-align: center;
  margin: 0px;
  border: 0px;
  padding: 0px;
  display: flex;
  overflow: hidden;
  background-color: #8F250C;
}
*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
  justify-content: space-between;
}


/*nav li{
  display: inline;
}
